@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <h1>Roles</h1>
    <div>
        <a class="btn primary-btn" asp-controller="Roles" asp-action="CreateNewRole">
            Create new Roles
        </a>
    </div>


</div>